:root {
  --lightgray: hsl(229, 24%, 87%);
  --marineblue: hsl(213, 96%, 18%);
  --purplishblue: hsl(243, 100%, 62%);
  --pastelblue: hsl(228, 100%, 84%);
  --lightblue: hsl(206, 94%, 87%);
  --strawberryred: hsl(354, 84%, 57%);
  --coolgray: hsl(231, 11%, 63%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  background: var(--magnolia);
}

a {
  color: inherit;
  text-decoration: none;
}